// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags {
  color : #B00100;
  margin-left: 5%;

}

.child_div{

  background-color: aquamarine ;
  display: inline;
  margin-right: 2px;

}

.div1{
  margin-left: 2%;
}

.p_div{
  margin-left: 2%;

}